Flask==2.1.2
matplotlib
numpy
pandas
scipy
Werkzeug==2.3.4
scikit-learn>=0.24.1 
# calibration_framework @ git+https://github.com/lorenzofamiglini/CalFram@main
# pandas==2.2.2
# numpy==1.26.4
# matplotlib==3.9.1
# scikit-learn==1.5.1
# ipdb==0.13.13