<div class="row justify-content-center" style="margin-top: 8rem;">
    <div class="mb-5 text-muted col-lg-12 ">
      <small>
        <p>
          For more
          details on these metrics please refer to Cabitza, F., Campagner, A., Angius, R., Natali C., Reverberi, C. (2023) AI
          Shall Have No Dominion: on How to Measure Technology Dominance in AI-supported Human decision-making. CHI 23:
          Proceedings of the 2023 CHI Conference on Human Factors in Computing Systems, April 23--28, 2023, Hamburg, Germany
          <br>
          <a href="https://doi.org/10.1145/3544548.3581095" target="_blank">https://doi.org/10.1145/3544548.3581095</a>
        </p>
        <p>Tool developed at MUDI Lab by Federico Cabitza, Chiara Natali, Riccardo Angius, Luca Carlassara, Sara Rizzi and Andrea Spreafico.</p>
      </small>
    </div>
  </div>
  